.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #DBE2EF;
  padding: 20px 0;
}

.products h3 {
  margin: 5px 0 10px 0;
}

.card-small {
  flex-grow: 1;
  width: 150px;
  height: 190px;
  margin: 10px 15px;
  text-align: center;
  border-radius: 5px;
}

.card-small img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  margin: 10px;
}

.card-small:hover {
  background-color: #112D4E;
  height: auto;
  transition: background-color 0.6s ease;
}

.card-small li {
  color: #DBE2EF;
  text-align: center;
}

.card-small ul {
  padding: 0;
}

.title-product {
  background-color: #112D4E;
  color: white;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
}
